.common-button__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;

    .common-button__content {
        font-weight: 500;
        font-size: 1.5rem;
        border-radius: 10%;
        border: none;
        background: #fc0;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        color: white;
        padding: 0.5rem;
        opacity: 0.8;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }
}